---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.svelte";
import Link from "../components/Link.svelte";
---

<Layout title="Academics | Frank Li">
  <h2 class="text-xl font-bold"># Relevant Coursework</h2>
  <hr class="my-2" />

  <details open>
    <summary>Winter 2024 (Current)</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside text-left">
        <li>CSE 344: Data Management</li>
        <li>CSE 446: Machine Learning</li>
        <li>CSE 492R: Group Research</li>
        <li>CSE 499: Reading and Research</li>
        <li>AMATH 352: Applied Linear Algebra and Numerical Analysis</li>
      </ul>
    </span>
  </details>

  <details open>
    <summary>Autumn 2023</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside">
        <li>CSE 390R: Introduction to Research</li>
        <li>CSE 452: Distributed Systems</li>
        <li>CSE 453: Datacenter Systems</li>
        <li>CSE 493G1: Deep Learning</li>
      </ul>
    </span>
  </details>

  <details>
    <summary>Summer 2023</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside">
        <li>CSE 312: Foundations of Computing II</li>
        <li>CSE 332: Data Structures and Parallelism</li>
      </ul>
    </span>
  </details>

  <details>
    <summary>Spring 2023</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside">
        <li>CSE 311: Foundations of Computing I</li>
        <li>CSE 369: Digital Design</li>
        <li>MATH 208: Matrix Algebra with Applications</li>
      </ul>
    </span>
  </details>

  <details>
    <summary>Winter 2023</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside">
        <li>CSE 331: Software Design and Implementation</li>
        <li>CSE 333: Systems Programming</li>
        <li>MATH 126: Calculus with Analytic Geometry III</li>
      </ul>
    </span>
  </details>

  <details>
    <summary>Fall 2023</summary>
    <span>
      <ul class="pl-4 md:pl-6 list-disc list-outside">
        <li>CSE 190: Direct Admit Seminar</li>
        <li>CSE 351: Hardware/Software Interface</li>
        <li>MATH 125: Calculus with Analytic Geometry II</li>
      </ul>
    </span>
  </details>
</Layout>

<style>
  summary {
    cursor: pointer;
  }
  summary::before {
    content: "";
    display: inline-block;
    margin-right: 0.3rem;
  }
</style>
