---
import { Heading } from "../components/Heading";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frank Li | Courses">
  <div class="md:columns-2 gap-8">
    <div class="break-inside-avoid-column">
      <Heading>Spring 2025</Heading>
      <ul>
        <li>CSE 434: Quantum Computation</li>
        <li>CSE 444: Database Internals</li>
        <li>AMATH 483: High-Performance Scientific Computing</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Winter 2025</Heading>
      <ul>
        <li>CSE 422: Toolkit for Modern Algorithms</li>
        <li>CSE 447: Natural Language Processing</li>
        <li>CSE 473: Artificial Intelligence</li>
        <li>MATH 407: Linear Optimization</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Autumn 2024</Heading>
      <ul>
        <li>CSE 401: Compilers</li>
        <li>CSE 451: Operating Systems</li>
        <li>CSE 599K: Systems for Machine Learning (PhD-level)</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Spring 2024</Heading>
      <ul>
        <li>CSE 341: Programming Languages</li>
        <li>CSE 421: Algorithms</li>
        <li>CSE 455: Computer Vision</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Winter 2024</Heading>
      <ul>
        <li>CSE 344: Data Management</li>
        <li>CSE 446: Machine Learning</li>
        <li>AMATH 352: Applied Linear Algebra and Numerical Analysis</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Autumn 2023</Heading>
      <ul>
        <li>CSE 452: Distributed Systems</li>
        <li>CSE 453: Datacenter Systems</li>
        <li>CSE 493G1: Deep Learning</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Summer 2023</Heading>
      <ul>
        <li>
          CSE 312: Foundations of Computing II (Statistics and Probability)
        </li>
        <li>CSE 332: Data Structures and Parallelism</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Spring 2023</Heading>
      <ul>
        <li>CSE 311: Foundations of Computing I (Discrete Math)</li>
        <li>CSE 369: Digital Design (FPGA Programming)</li>
        <li>MATH 208: Matrix Algebra</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Winter 2023</Heading>
      <ul>
        <li>CSE 331: Software Design and Implementation</li>
        <li>CSE 333: Systems Programming</li>
        <li>MATH 126: Calculus with Analytic Geometry III</li>
      </ul>
    </div>
    <div class="break-inside-avoid-column">
      <Heading>Autumn 2022</Heading>
      <ul>
        <li>CSE 351: Hardware/Software Interface</li>
        <li>MATH 125: Calculus with Analytic Geometry II</li>
      </ul>
    </div>
  </div>
</Layout>
