---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.svelte";
import Link from "../components/Link.svelte";
---

<Layout title="Home | Frank Li">
  <Content client:load>
    <h2 class="text-xl font-extrabold"># Education</h2>
    <hr class="my-2" />

    <div class="flex flex-row w-full">
      <span class="grow block"
        >Bachelor of Science in Computer Science, GPA: 3.9</span
      >
      <span class="grow block text-right">2022-2025</span>
    </div>
     University of Washington - Seattle

    <h2 class="pt-12 text-xl font-extrabold"># Experiences</h2>
    <hr class="my-2" />

    <h2 class="text-xl font-extrabold"># Research</h2>
    <hr class="my-2" />
  </Content>
</Layout>
