---
import { Heading } from "../components/Heading";
import { TextLink } from "../components/Links";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frank Li | Home">
  <div class="flex flex-col gap-12">
    <div class="text-justify">
      <Heading>ABOUT</Heading>
      <p>
        I am a senior undergraduate student pursuing a degree in Computer
        Science at the
        <TextLink href="https://cs.uw.edu/">University of Washington</TextLink>,
        with an anticipated graduation date of spring 2026. As of June 2023, I
        have been working as a Jr. SDE III at
        <TextLink href="https://www.amazon.com">Amazon</TextLink>, having
        progressed from levels I and II. I work full-time during the holidays,
        and part-time during the school year. This upcoming summer, I will be
        interning as a Software Engineer at
        <TextLink href="https://www.twosigma.com">Two Sigma</TextLink> in New York
        City, followed by an internship as a System Software Engineer at
        <TextLink href="https://nvidia.com">NVIDIA</TextLink> in Santa Clara during
        the fall.
      </p>
      <br />
      <p>
        My primary career aspiration is in software engineering, but I have also
        engaged in computer science research projects. Notably, I contributed to
        medical image segmentation research at the
        <TextLink href="https://www.kurtlab.com/">Kurt Lab</TextLink>, utilizing
        U-Net and vision transformers, and collaborated with
        <TextLink href="https://faculty.washington.edu/dzhao/"
          >Dr. Dongfang Zhao</TextLink
        >
        in the <TextLink href="https://hpdic.github.io/">HPDIC Lab</TextLink> on
        efficient multi-vector query of vector databases.
      </p>
      <br />
      <p>
        Currently working on some stuff using the <TextLink
          href="https://modelcontextprotocol.io"
          >model context protocol</TextLink
        >.
      </p>
    </div>
    <div>
      <Heading>NEWS</Heading>
      <ul class="list-disc list-inside">
        <li>
          June 2024 - January 2025: Interviewing, received offers from Two
          Sigma, Databricks, Stripe, and NVIDIA.
        </li>
        <li>June - September 2024: Second summer interning at Amazon.</li>
        <li>
          June 2024: Concluded my research at the HPDIC Lab after presenting my
          work at the UW CS Research Symposium.
        </li>
        <li>
          May 2024: Promoted to Jr. SDE III at Amazon after performance review.
        </li>
        <li>
          January 2024: Joined the HPDIC Lab as an undergraduate researcher
          working on vector databases.
        </li>
      </ul>
    </div>
  </div>
</Layout>
