---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.svelte";
import Link from "../components/Link.svelte";
---

<Layout title="Home | Frank Li">
  <Content client:load>
    <h2 class="text-xl font-extrabold"># About Me</h2>
    <hr class="my-2" />

     I'm a CS undergrad at the
    <Link href="https://cs.uw.edu" client:load>
      University of Washington{""}
    </Link>, currently senior standing projected to graduate in spring 2025. I'm
    also working as a junior software developer at Amazon since June 2023. I
    have a passion for building complex systems using low-level languages and
    tools. I enjoyed working on projects using low-level programming languages
    and I'm excited by topics such as distributed systems, programming languages
    and compilers, as well as GPU programming.

    <hr class="my-2 opacity-0" />
     I also actively participate in CS research, previously at
    <Link href="https://kurtlab.com" client:load>Kurt Lab{""}</Link> researching
    medical image segmentation using U-Net and Vision Transformers and now
    working with
    <Link href="https://faculty.washington.edu/dzhao/" client:load>
      Dr. Dongfang Zhao{""}
    </Link>
     on Vector Databases. Other than that, I'm also a member of
    <Link href="https://uw-i2.org/" client:load>
      Interactice Intelligence{""}
    </Link> student research club at UW where I work as a reseacher and lecturer
    for the intro course.

    <h2 class="pt-12 text-xl font-extrabold"># Background</h2>
    <hr class="my-2" />
     I was born and raised in
    <Link href="https://wikipedia.org/wiki/Aichi_Prefecture" client:load>
      Aichi{""}
    </Link>, Japan, and then moved to Shanghai in 2014 where I graduated
    <Link href="https://ycis-sh.com" client:load>high school{""}</Link>.
    Finally, in 2022, I came to Seattle to pursue my undergraduate degree.
    Hence, I am fluent in Japanese, Mandarin, and English.
    <div class="float-right pt-12 select-none">
      <img src="/owl.png" alt="Owl" width="250" height="250" />
    </div>
  </Content>
</Layout>
