---
import Link from "./Link.svelte";
---

<aside class="h-screen py-64 sticky top-0">
  <div class="flex flex-col gap-10 h-full">
    <div class="w-max">
      <h1 class="italic text-5xl font-cursive">Frank Li</h1>
    </div>
    <div class="container grow text-right">
      <ul class="leading-loose">
        <li><Link href="/">Home</Link></li>
        <li><Link href="/cv">CV</Link></li>
        <li><Link href="/projects">Projects</Link></li>
        <li><Link href="/academics">Academics</Link></li>
        <li><Link href="/tech">Tech</Link></li>
      </ul>
    </div>
    <div>
      <p>&copy; 2023 Frank Li.</p>
    </div>
  </div>
</aside>
