---
import Link from "./Link.svelte";
---

<aside class="h-screen py-64 sticky top-0">
  <div class="flex flex-col gap-10 h-full">
    <div class="w-max">
      <h1 class="italic text-5xl font-cursive">Frank Li</h1>
    </div>
    <div class="container grow text-right">
      <ul class="leading-loose">
        <li><Link href="/" text="Home" client:load /></li>
        <li><Link href="/cv" text="CV" client:load /></li>
        <li><Link href="/projects" text="Projects" client:load /></li>
        <li><Link href="/academics" text="Academics" client:load /></li>
        <li><Link href="/tech" text="Tech" client:load /></li>
      </ul>
    </div>
    <div>
      <p>&copy; 2023 Frank Li.</p>
    </div>
  </div>
</aside>
