---
import Sidebar from "../components/Sidebar.svelte";
import Name from "../components/Name.svelte";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Space+Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cedarville+Cursive"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond"
    />
    <title>{title}</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="bg-light text-dark w-screen h-screen">
    <main
      class="flex flex-row h-full md:px-8 md:mx-auto w-full md:max-w-5xl md:gap-20 overflow-auto text-sm md:text-lg">
      <Sidebar client:load />
      <slot />
    </main>
  </body>
</html>
