---
import "../styles/global.css";
import { Sidebar } from "../components/Sidebar";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-light dark:bg-dark min-h-dvh dark:text-light">
    <div
      class="mx-auto max-w-screen-lg min-h-screen flex flex-col md:flex-row gap-12 md:gap-16 py-32"
    >
      <Sidebar />
      <main class="grow">
        <slot />
      </main>
    </div>
  </body>
</html>
